html[theme = dark_theme]{
  --color-text-1: #2194ff;
  --color-text-2: #2D2D2D;
  --color-text-3: #2C3742;
  --color-text-4: #ffffff;
  --color-background-1: #1E1E1E;
  --color-background-2: #2C3742;
  --color-background-3: #2C3742;
}

html[theme = light_theme]{

}

*{
  box-sizing: border-box;
}

@font-face{
  font-family:'RussoOne-Regular';
  src: url('/src/assets/fonts/RussoOne/RussoOne-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'OpenSans-Regular';
  src: url('/src/assets/fonts/OpenSans/OpenSans-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

body{
  font-family: OpenSans-Regular;
  font-weight: 400;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: OpenSans-Regular;
  margin-top: 0;
}

h2{
  font-size: 36px;
  line-height: 120%;
  margin: 0 0 40px 0;
  //color: var(--color-header);
  color: #2194FF;
  font-family: RussoOne-Regular;
  text-transform: uppercase;
}
h3{
  font-size: 25px;

}

a{
  color: #2194FF;
}

.div-line{
  height: 3px;
  position: relative;
  max-width: 670px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  &:after{
    content: "";
    position: absolute;
    width: 33%;
    //background: var(--color-background-3);
    background: #2194FF;
    height: 100%;
  }
}

.center{
  text-align: center;
}

.wrap-header{
  &-1{
    background: #1E1E1E;
  }
  &-2{
    background: white;
  }
  &-3{
    background: #2194FF;
  }
}

.container{
  max-width: calc(1360px - 60px);
  padding: 45px 30px;
  margin: 0 auto;
  position: relative;
  &-header{
    max-width: calc(1110px - 60px);
    padding: 4px 30px 4px 30px;
    &-2{
      padding: 25px 30px 16px 30px;
      max-width: calc(1075px + 60px);
      color: black;
    }
    &-3{
      padding: 30px 31px;
    }
  }
  &.container-advantage{
    max-width: calc(1262px - 60px);
    padding-top: 140px;
    padding-bottom: 100px;
  }
  &.container-phone-form{
    padding-top: 100px;
    padding-bottom: 65px;
  }
}

.header-cont{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .div-logo{
    .dt1{

    }
    .dt2{
      margin-left: 177px;
      display: flex;
      .cont-el:first-child{
        margin-right: 32px;
      }
    }
  }
  .div-cont-data {
    .text{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      img{
        margin-right: 10px;
      }
    }
  }
}

.wrap-cont1{
  //background: var(--color-background-2);
  background: #2C3742;
  .container{
    padding-bottom: 70px;
  }
}
.wrap-cont2{
  background: url("../images/backgr-process-work.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  .container{
    padding-top: 108px;
    padding-bottom: 200px;
  }
  .block-rectangle{
    &:after{
      content: "";
      width: 600px;
      height: 600px;
      background: #1E1E1E;
      position: absolute;
      transform: rotate(45deg);
      bottom: 0;
      left: 0;

      -webkit-transform-origin:bottom left;
      transform-origin:bottom left;

      -webkit-transform : rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.wrap-cont3{
  background: #2D2D2D;
  color: white;
  h2{
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 100px;
  }
}

.wrap-cont4{
  background: #2d2d2d;
  .div-cont-form{
    .head-cont {
      font-size: 25px;
      color: white;
      font-family: RussoOne-Regular;
      margin-bottom: 31px;
    }
    .projecting-elems{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .el{
        padding: 9px 32px;
        color: #1d81dd;
        border: 3px solid #1d81dd;
        font-family: RussoOne-Regular;
      }
    }
  }
}

.block-header{
  //background: var(--color-background-1);
  background: #2D2D2D;
  color: white;
  .header-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .div-el{

    }
  }
}

.btn{
  padding: 28px 61px;
  font-family: RussoOne-Regular;
  font-size: 19px;
  line-height: 120%;
  background: #2194FF;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  transition: all .4s ease;
  display: block;
  width: fit-content;
  &:hover{
    color: #f8f8f8;
    background: #1d81dd;
  }
}

.block-projects{
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  padding: 40px 0;
  .elem-modal-preview{
    display: flex;
    width: calc(33.33% - 15px);
    background: #ffffff;
    height: 236px;
    position: relative;
    .div-img{
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .float-text{
      position: absolute;
      bottom: -36px;
      left: -4px;
      padding: 14px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      //color: var(--color-text-3);
      color: #ffffff;
      width: calc(100% - 50px);
      //background: ;: var(--color-background-3);
      background: #2194FF;
      font-family: RussoOne-Regular;
      text-transform: uppercase;
    }
  }
}

.unselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap-cont2{
  h2{
    margin-bottom: 80px;
  }
}
.block-process-work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .el{
    max-width: 340px;
    padding: 20px;
    font-family: RussoOne-Regular;
    position: relative;
    margin-bottom: 100px;
    .div-float-number{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 260px;
      line-height: 100%;
      color: #2194ff;
      opacity: .5;
      padding-bottom: 80px;
    }
    .div-main-cont{
      z-index: 100;
      color: white;
      position: relative;
      .header-text{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        text-transform: uppercase;
        .desc-text{
          flex: 1;
          padding-bottom: 11px;
          margin-bottom: 19px;
          position: relative;
          &:after{
            content: "";
            height: 5px;
            width: 121px;
            background: #1d81dd;
            bottom: 0;
            left: 0;
            position: absolute;
          }
        }
        .desc-img{
          img{
            max-width: 56px;
            max-height: 56px;
            width: 100%;
            height: 100%;
          }
        }
      }
      .sub-desc{
        font-family: OpenSans-Regular;
        font-size: 19px;
        line-height: 120%;
      }
    }
  }
}

.first-step{
  .div-elems-step{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    .dt{
      color: white !important;
      width: 33.333%;
      .div-text{
        font-family: RussoOne-Regular;
        font-size: 23px;
        line-height: 130%;
        color: white !important;
        text-transform: uppercase;
        margin-bottom: 34px;
        &.div-text-2{
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 38px;
        }
      }
    .elem-after{
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      &.left{
        &:before{
          content: "";
          position: relative;
          background: url("../../../src/assets/images/ico-slider-left.svg") no-repeat center center;
          height: 14px;
          width: 14px;
          display: block;
          background-size: 100% 100%;
          left: 0;
          top: 0;margin-right: 10px;
        }
      }
      &.right{
        text-align: right;
        &:after{
          content: "";
          position: relative;
          background: url("../../../src/assets/images/ico-slider-right.svg") no-repeat center center;
          height: 14px;
          width: 14px;
          display: block;
          background-size: 100% 100%;
          right: 0;
          top: 0;
          margin-left: 10px;
        }
      }
      }
    }
    .dt1{
      position: relative;
      .elem-after{
        justify-content: end;
      }
      .div-text{
        text-align: end;
      }
      &:after{
        content: "";
        position: absolute;
        border-bottom: 2px solid #2194FF;
        transform: rotate(-15deg);
        width: 100%;
        bottom: -60px;
      }

    }
    .dt2{
      padding-top: 225px;
      text-align: center;
      .btn{
        margin: 0 auto;
      }
    }
    .dt3{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        border-bottom: 2px solid #2194FF;
        transform: rotate(15deg);
        width: 100%;
        bottom: -60px;
      }
    }
  }
}

.swiper-button-next {
  background: url("../../../src/assets/images/ico-slider-left.svg") no-repeat center center;
  right: 20px !important;
  &:after {
    content: "";
  }
}
.swiper-button-prev{
  background: url("../../../src/assets/images/ico-slider-right.svg") no-repeat center center;
  left: 20px !important;
  &:after{
    content: "";
  }
}

.swiper-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 16px !important;
  .swiper-pagination-bullet{
    height: 16px;
    width: 16px;
    transition: .4s ease all;
    margin: 0 8px !important;
  }
  .swiper-pagination-bullet-active{
    height: 20px;
    width: 20px;
    transition: .4s ease all;
  }
}

.elem-slider-backgr-1{
  background: url("../../../src/assets/images/slider-header-backgr-1.jpg") no-repeat;
  background-size: cover;
}

.elem-slider{
  &-1{
    padding: 75px 30px 84px 30px;
    max-width: calc(856px + 60px);
    margin: 0 auto;
    background-size: contain;
    h2{
      margin-bottom: 42px;
      color: #ffffff;
      letter-spacing: 3px;
    }
    .div-text{
      margin-bottom: 87px;
      font-size: 24px;
      line-height: 157.5%;
    }
    .elems-slider{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .elem{
        .tcont-text{
          font-size: 16px;
          line-height: 157.5%;
        }
      }
    }
  }
}

.cont-arrow{
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-down{
  position: relative;
  top: -70px;
  .r1{
    &:before{
      content: "";
      width: 32px;
      height: 32px;
      border: 2px solid #2194FF;
      border-top: unset;
      border-left: unset;
      position: absolute;
      transform: rotate(45deg);
      top: 2px;
      left: 3px;
    }
  }
  .r2{
    &:before{
      content: "";
      width: 51px;
      height: 51px;
      border: 2px solid #2194FF;
      border-top: unset;
      border-left: unset;
      position: absolute;
      transform: rotate(45deg);
      top: 3px;
      left: -7.5px;
    }
  }
  .r3{
    &:before{
      content: "";
      width: 69px;
      height: 70px;
      border: 2px solid #2194FF;
      border-top: unset;
      border-left: unset;
      position: absolute;
      transform: rotate(45deg);
      left: -17px;
    }
  }
}

.elem-advantages{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  .el{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      border-right: 2px solid #2194FF;
      height: 210px;
      transform: rotate(-25deg);
      right: -65px;
    }
    &:last-child{
      &:after{
        content: unset;
      }
    }
    img{
      margin-bottom: 34px;
    }
    .div-text{
      font-weight: 400;
      font-size: 19.5585px;
      line-height: 25px;
      font-family: RussoOne-Regular;
      text-align: center;
    }
  }
}
