html[theme = dark_theme]{
  --color-text-1: #2194ff;
  --color-text-2: #2D2D2D;
  --color-text-3: #2C3742;
  --color-text-4: #ffffff;
  --color-background-1: #1E1E1E;
  --color-background-2: #2C3742;
  --color-background-3: #2C3742;
}

html[theme = light_theme]{

}

*{
  box-sizing: border-box;
}

@font-face{
  font-family:'RussoOne-Regular';
  src: url('/src/assets/fonts/RussoOne/RussoOne-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family:'OpenSans-Regular';
  src: url('/src/assets/fonts/OpenSans/OpenSans-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

body{
  font-family: OpenSans-Regular;
  font-weight: 400;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: OpenSans-Regular;
  margin-top: 0;
}

h2{
  font-size: 36px;
  line-height: 120%;
  margin: 0 0 40px 0;
  //color: var(--color-header);
  color: #2194FF;
  font-family: RussoOne-Regular;
  text-transform: uppercase;
}

.div-line{
  height: 3px;
  position: relative;
  max-width: 670px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  &:after{
    content: "";
    position: absolute;
    width: 33%;
    //background: var(--color-background-3);
    background: #2194FF;
    height: 100%;
  }
}

.center{
  text-align: center;
}

.container{
  max-width: calc(1360px - 60px);
  padding: 45px 30px;
  margin: 0 auto;
  &-header{
    padding-top: 62px;
  }
}

.wrap-cont1{
  //background: var(--color-background-2);
  background: #2C3742;
}
.wrap-cont2{
  background: url("../images/backgr-process-work.jpg") no-repeat center center;
  background-size: cover;
}

.block-header{
  //background: var(--color-background-1);
  background: #1E1E1E;
  .header-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .dt1{
      font-family: OpenSans-Regular;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      color: #2194FF;
      //color: var(--color-text-1);
      .div-img{
        margin-right: 40px;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          border-right: 1px solid #ffffff;
          height: 35px;
          right: -20px;
        }
      }
      .div-desc{
        font-size: 16px;
        line-height: 18px;
        font-style: italic;
      }
    }
    .dt2{
      font-family: RussoOne-Regular;
      a{
        color: #ffffff !important;
        text-decoration: none ;
        margin-bottom: 27px;
        &:first-child{
          .contact-head{
            margin-bottom: 27px;
          }
        }
      }
      .contact-head{
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 120%;
        img{
          margin-right: 27px;
        }
      }
    }
  }
  .header-cont{
    position: relative;
    .dt-right{
      width: 57%;
      height: 240px;
      position: absolute;
      overflow: hidden;
      z-index:1;
      &:after{
        content: "";
        background: linear-gradient(270.3deg, #1080EB 22.63%, rgba(18, 0, 130, 0) 110.21%);
        width: calc(100% - 90px);
        height: 100%;
        position: absolute;
      }
      &:before{
        content: "";
        //background: #1080EB;
        width: 0;
        height: 0;
        position: absolute;
        border: 83px solid transparent;
        border-bottom: 230px solid #1080EB;
        border-left: 30px solid #1080EB;
        right: -12px;
        top: -30px;
      }
    }
    .dt-left{
      width: 42%;
      height: 385px;
      position: absolute;
      overflow: hidden;
      z-index:1;
      right: 0;
      .div-img{
        right: 210px;
        position: absolute;
        z-index: 1000;
        top: 86px;
      }
      &:after{
        content: "";
        background: linear-gradient(90deg, #1080EB 27.07%, rgba(18, 0, 130, 0) 80.18%, rgba(217, 217, 217, 0) 87.63%, rgba(18, 0, 130, 0) 87.63%, rgba(18, 0, 130, 0) 87.63%);
        width: calc(90% - 120px);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:before{
        content: "";
        //background: #1080EB;
        width: 0;
        height: 0;
        position: absolute;
        border: 305px solid transparent;
        border-right: 185px solid #1080EB;
        left: -290px;
        top: -165px;
      }
    }
    .container.cont-head{
      z-index: 2;
      position: relative;
      padding: 40px 30px 50px 30px;
      .div-text{
        //color: var(--color-text4);
        color: #ffffff;
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        font-family: RussoOne-Regular;
      }
    }
    .container-sub-head{
      display: flex;
      padding: 35px 30px 25px 30px;
      .dt1{
        display: flex;
        flex-direction: column;
        .btn{
          margin-bottom: 25px;
        }
        .div-text{
          text-align: center;
          font-size: 16px;
          color: #fff;
          font-family: 'OpenSans-Regular';
          font-weight: 600;
        }
      }
      .dt2{
        position: relative;
      }
      .btn{
        margin-right: 10px;
      }
    }
    .btn{
      padding: 38px 81px;
      font-family: RussoOne-Regular;
      font-size: 22px;
      line-height: 120%;
      background: #2194FF;
      border-radius: 25px;
      text-decoration: none;
      color: #fff;
      transition: all .4s ease;
      display: block;
      width: fit-content;
      &:hover{
        color: #f8f8f8;
        background: #1d81dd;
      }
    }
    .arrow-animate{
      position: absolute;
      top: -10px;
    }
  }
}

.block-projects{
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  padding: 40px 0;
  .elem-modal-preview{
    display: flex;
    width: calc(33.33% - 15px);
    background: #ffffff;
    height: 236px;
    position: relative;
    .div-img{
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .float-text{
      position: absolute;
      bottom: -36px;
      left: -4px;
      padding: 14px 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      //color: var(--color-text-3);
      color: #ffffff;
      width: calc(100% - 50px);
      //background: ;: var(--color-background-3);
      background: #2194FF;
      font-family: RussoOne-Regular;
      text-transform: uppercase;
    }
  }
}

.unselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap-cont2{
  h2{
    margin-bottom: 80px;
  }
}
.block-process-work{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .el{
    max-width: 340px;
    padding: 20px;
    font-family: RussoOne-Regular;
    position: relative;
    margin-bottom: 120px;
    .div-float-number{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 260px;
      line-height: 100%;
      color: #2194ff;
      opacity: .5;
      padding-bottom: 80px;
    }
    .div-main-cont{
      z-index: 100;
      color: white;
      position: relative;
      .header-text{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        text-transform: uppercase;
        .desc-text{
          flex: 1;
          padding-bottom: 11px;
          margin-bottom: 19px;
          position: relative;
          &:after{
            content: "";
            height: 5px;
            width: 121px;
            background: #1d81dd;
            bottom: 0;
            left: 0;
            position: absolute;
          }
        }
        .desc-img{
          img{
            max-width: 56px;
            max-height: 56px;
            width: 100%;
            height: 100%;
          }
        }
      }
      .sub-desc{
        font-family: OpenSans-Regular;
        font-size: 19px;
        line-height: 120%;
      }
    }
  }
}


.arrow-down{

}
